EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyDo7eZ8f_HjkO83gUAdjAbH06w_g-la7ak
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=lincon-2f739.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=lincon-2f739
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=lincon-2f739.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=162332531737
EXPO_PUBLIC_FIREBASE_APP_ID=1:162332531737:web:a596c373285ca8a891de88
EXPO_PUBLIC_FIREBASE_MEASUREMENT_ID=G-K1G3Z4KFCS
EXPO_PUBLIC_CLOUDINARY_CLOUD_NAME=
EXPO_PUBLIC_CLOUDINARY_UPLOAD_PRESET=
